.defaultBackground {
  background-image: url(images/film3.jpg);
}

li a button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
}

.logo {
  width: 120px;
  height: 120px;
}

.liensNav {
  list-style-type: none;
}

.liensNav li {
  display: inline-block;
  margin: 10px 30px;
}

.liensNav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
  background-color: #ff0000;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
}

.liensNav li a:hover {
  color: black;
}

button {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

button:hover {
  background-color: red;
  color: #000000;
}

div a img {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

div a img:hover {
  background-color: red;
  color: black;
  border-radius: 11px;
}

.nousJoindre {
  background-color: #ff0000;
  padding: 10px;
  margin: 10px;
  margin-top: 35px;
  border-radius: 5px;
}

.formLogin {
  background-color: #ff0000;
  padding: 10px;
  margin: 10px;
  margin-top: 35px;
  border-radius: 5px;
  text-align: center;
}

.imgLogin {
  width: 600px;
  height: 600px;
}

.login {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
}

section {
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: red;
  text-align: center;
}

section img {
  width: 400px;
  height: 300px;
}

.produit {
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: red;
  text-align: center;
  margin-top: 35px;
}

.produitListe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.produit img {
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.produit img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.effetHover1:hover {
  background-color: red;
  color: black;
}

.produitBackground {
  background-color: #c9dcd8;
}

.streaming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  margin-left: auto;
  margin-right: auto;
}

.video {
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-bottom: auto;
  background-color: red;
  text-align: center;
}

.videoSize {
  width: 350px;
  height: auto;
  margin-top: 25px;
}

hr {
  border: 1px solid #000000;
}

.loginLien
{
  text-decoration: none;
  color: #ffffff;
  font-size: large;
  background-color: #ff0000;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
}

.loginLien:hover
{
  color: black;
}
