<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>
        <% if(typeof(titre)!=="undefined") { %>
        <%= titre %>
        <% } else { %>
            Voici un titre par défaut
        <% } %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- body %>
</body>
</html>